<div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
          <li id ="member" class="nav-item active">
            <a  class="active nav-link" href="/manager/member">

              <i class="fas fa-fw fa-users"></i>
              <span>회원정보</span>
            </a>
          </li>
          <li id ="deposits" class="nav-item">
              <a class="nav-link" href="/manager/deposits">
                <i class="fas fa-fw fa-coins"></i>
                <span>입금대기</span></a>
            </li>
          <li id="sales" class="nav-item">
            <a class="nav-link" href="/manager/sales">
              <i class="fas fa-fw fa-money-check-alt"></i>
              <span>판매완료내역</span></a>
          </li>
          <li id="addsales" class="nav-item">
            <a class="nav-link" href="/manager/addsales">
              <i class="fas fa-fw fa-chart-area"></i>
              <span>판매누적액</span></a>
          </li>
          <li id="managermenu" class="nav-item">
              <a class="nav-link" href="/manager/managermenu">
                <i class="fas fa-fw fa-user-secret"></i>
                <span>관리자 메뉴</span></a>
          </li>
          <li id="coinmenu" class="nav-item">
            <a class="nav-link" href="/manager/coinmenu">
              <i class="fab fa-bitcoin"></i>
              <span>Coin 관리</span></a>
        </li>
          <li id="managermenu" class="nav-item">
            <a class="nav-link" href="/account/managerlogout">
              <i class="fas fa-fw fa-user-secret"></i>
              <span>Logout</span></a>
        </li>
        </ul>
