<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>COINPLACE - 비밀번호 변경</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/account/changePassword">
        암호: <input type="password" name ="password"/><br>
        암호 재확인: <input type="password" name ="password_check"/>
        <input type="submit" value="변경"/>
    </form>
  </body>
</html>
