
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="main_page">
    <meta name="author" content="jungee">
    <title>COIN PLACE</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="../stylesheets/hover-effect.css" rel="stylesheet">
    <link href="../stylesheets/footer.css" rel="stylesheet">
    <link href="../stylesheets/progress.css" rel="stylesheet">
    <link href="../stylesheets/main.css" rel="stylesheet">
    <link href="../stylesheets/button.css" rel="stylesheet">
    <link href="../stylesheets/signup.css" rel="stylesheet">
    <link href="../stylesheets/main_coin.css" rel="stylesheet">
    <script href="../javascript/main-page.js" ></script>
</head>
<body>


<!-- 1. 첫 페이지 -->
<header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            <a  href="/"><img style="width: 70%" src="images/logo/contents_mainlogo.png"></a>
        </div>
        <div class="menu">
            <ul>
                <li><img style="width: 30%" src="images/logo/contents_mainloginicon.png"><a href="/account/signin"> 로그인</a></li>
            </ul>
        </div>
    </nav>

</header>


<div style="position: absolute; left: 50%; top:67%">
    <!--<a style="position: relative; left: -50%;"  class="btn btn-lg"  data-toggle="modal" data-target="#signupmodal" data-toggle="modal" >사전가입하기</a>-->
    <input type="image" style="position: relative; left: -28%; width: 57%"  data-toggle="modal" data-target="#signupmodal" data-toggle="modal" src="images/basic/contents_mainbutton.jpg">
</div>
<div style="width:30%; height: 100%; position: absolute; left: 50%; top:78%">
    <div style="position: relative; left: -50%;" class="progress">
        <div class="progress-bar" style="width:85%; background:#3f7edd;"></div>
        <div class="progress-content">
            <span class="progress-title">진행상황</span>
            <span class="progress-value">85%</span>
        </div>
    </div>
</div>
<div style="width:30%; height: 100%; position: absolute; left: 50%; top:82%">
    <div style="position: relative; left: -50%;" >
        <p style="color: #ffffff">0 &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;                1,000,000</p>
    </div>
</div>
<div style="position: absolute; left: 50%; top:88%">
    <h3 class="text-center" style="position: relative; left: -50%; color: #eeeeee">
        사전 가입하시고 IEO 참여 혜택을 누리세요!!<br>정식 OPEN 첫날 상장 됩니다.
    </h3>
</div>
<!-- 2. 두번째 페이지: 코인 구매 -->
<header id="sec_page">
    <!--<div class="container" style="position: absolute; top:125%; width: 100%">-->
        <!--<div class="row" style="text-align:center;">-->
            <!--<div class="col-md-3 col-sm-6" >-->
                <!--<div class="serviceBox purple" style="background:  #8c8c8c; height: 270px">-->
                    <!--<div class="service-count purple">1</div>-->
                    <!--<div class="service-content">-->
                        <!--<h2>PLU 코인</h2>-->
                        <!--<h3 style="color:#7b0000">-->
                           <!--판매 완료-->
                        <!--</h3>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="serviceBox purple" style="background:  #8c8c8c; height: 270px">-->
                    <!--<div class="service-count">2</div>-->
                    <!--<div class="service-content">-->
                        <!--<h2>PLU 코인</h2>-->
                        <!--<h3 style="color:#7b0000">-->
                            <!--판매 완료-->
                        <!--</h3>-->
                    <!--</div>-->
                <!--</div>-->
                <!--</div>-->

            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="serviceBox purple" style="height: 270px">-->
                    <!--<div class="service-count">3</div>-->
                    <!--<div class="service-icon">-->
                        <!--<i class="fa fa-globe"></i>-->
                    <!--</div>-->
                    <!--<div class="service-content">-->
                        <!--<h2>PLU 코인</h2>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 col-sm-6 ">-->
                <!--<div class="serviceBox" style="height: 270px">-->
                    <!--<div class="service-count">4</div>-->
                    <!--<div class="service-icon">-->
                        <!--<i class="fa fa-rocket"></i>-->
                    <!--</div>-->
                    <!--<div class="service-content">-->
                        <!--<h2>FNB 코인</h2>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div style="position: absolute; left: 50%; top:175%">-->
        <!--<a style="position: relative; left: -50%;"   class="btn btn-lg"  data-toggle="modal" href="/salelist" >구매하러가기</a>-->
    <!--</div>-->


</header>

<div class="row"  style="position: absolute;  top:110%; padding-left: 5%; padding-right: 5%;">
    <div class="col-xs-3 col-sm-3"><img style="width: 95%" src="/images/secpage/contents02_plucoin.jpg"></div>
    <div class="col-xs-3 col-sm-3"><img style="width: 95%" src="/images/secpage/contents02_plucoin.jpg"></div>
    <div class="col-xs-3 col-sm-3"><img style="width: 95%" src="/images/secpage/contents02_plucoin.jpg"></div>
    <div class="col-xs-3 col-sm-3"><img style="width: 95%" src="/images/secpage/contents02_toxicoin.jpg"></div>
</div>
<header id="third_page"></header>
<div style="width:90%; height: 100%; position: absolute; left: 50%;top:210%">
    <img  style="position: relative; left: -41%; width: 80%" src="/images/basic/contents.jpg">

    </img>
</div>

<header id="last_page">
    <div style="position: absolute;top:310%">
        <div class="row">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-5 col-xs-5">
                <div class="box">
                    <img  src="../images/lastpage/last_1.jpeg" alt="">
                    <div class="box-content">
                        <h3 class="title">국내 최저 수수료로 거래하세요.</h3>
                        <span class="post">수수료 0.1% -> 0.04% (pra코인 사용 시 60% 할인)</span>

                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-5">
                <div class="box">
                    <img  src="../images/lastpage/last_2.jpeg" alt="">
                    <div class="box-content">
                        <h3 class="title">업계 최저 수수료로 많은 사용자 확보</h3>
                        <span class="post">폭발적인 거래량을 경험해보세요.</span>

                    </div>
                </div>
            </div>
            <div class="col-md-1 col-xs-1"></div>
        </div>
        <div class="row" style="padding-top: 3%">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-5 col-xs-5"> <div class="box">
                    <img  src="../images/lastpage/last_3.jpeg" alt="">
                    <div class="box-content">
                        <h3 class="title">렉 없는 쾌적한 환경을 제공합니다.</h3>
                        <span class="post">대용량 서버 구축에 중점을 두었습니다.</span>

                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-5">
                <div class="box">
                    <img  src="../images/lastpage/last_4.jpeg"  alt="">
                    <div class="box-content">
                        <h3 class="title">암호화폐 거래소 시스템 경력 7년의<br>전문가들이 보안을 책임집니다.</h3>


                    </div>
                </div>
            </div>
            <div class="col-md-1 col-xs-1"></div>
        </div>
    </div>
</header>
<header id="last_page2">
</header>
<div style="position: absolute;top:410%">
    <img src="/images/basic/price.jpg">
</div>


<!-- 회원가입 모달 -->
<div class="modal fade" id="signupmodal" ttabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
            <form class="form-horizontal" method="POST" action="/account/signup">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <i class="fa fa-envelope-o"></i>
                    <input required=""  name="username" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <i class="fa fa-lock"></i>
                    <input required="" name="password" type="password" class="form-control" placeholder="Password">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password 확인</label>
                    <i class="fa fa-lock"></i>
                    <input required="" name="password_check" type="password" class="form-control" placeholder="Password 확인">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">이름</label>
                    <i class="fa fa-lock"></i>
                    <input required="" name="name" type="text" class="form-control" placeholder="이름">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">핸드폰 번호</label>
                    <i class="fa fa-lock"></i>
                    <input class="form-control" placeholder="010-0000-0000 형식으로 작성해주세요." type="tel" id="phone" name="phoneNumber"
                           pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                           required>
                    <!--<input required="" name="phoneNumber" type="number" >-->

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style="width: 80%">회원가입</button>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>

<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>JCPARTNER</a></li>
                    <li><a href="useCoin"><i class="fa fa-angle-double-right"></i>USE A COIN</a></li>
                    <li><a href="/aboutJcp"><i class="fa fa-angle-double-right"></i>About JCP</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/news"><i class="fa fa-angle-double-right"></i>News</a></li>
                    <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>JCPARTNER INFO</h5>
                <p style="color: #fff; font-size: 12px;text-align: left; margin-left: 30%">
                    <br>
                    <b>주소 :</b> 경기도 성남시 분당구 성남대로 916번길 11 글라스타워 5층 <br>
                    <br>
                    <b>전화번호 :</b> 031-707-3664
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            </div>
        </div>
    </div>
</section>

</body>
</html>

