
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="main_page">
    <meta name="author" content="jungee">
    <title>COIN PLACE</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="../stylesheets/progress.css" rel="stylesheet">
    <link href="../stylesheets/main.css" rel="stylesheet">
    <link href="../stylesheets/button.css" rel="stylesheet">

    <script href="../javascript/main-page.js" ></script>
</head>
<body>

<!--<div id="first_page"></div>-->
<!--<div id="sec_page"></div>-->
<!--<div id="third_page"></div>-->
<!--<div id="last_page"></div>-->


<header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            <a  href="/"><img style="width: 46%" src="images/logo/main_logo.png"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/account/signin">SIGN IN</a></li>
            </ul>
        </div>
    </nav>

    <div style="position: absolute; left: 50%; top:40%">
        <h1 class="text-center" style="position: relative; left: -50%; color: #eeeeee">
            코인 플레이스<br>사전 가입 시작
        </h1>
    </div>

    <div style="position: absolute; left: 50%; top:55%">
        <a style="position: relative; left: -50%;" href="/account/signup" class="btn btn-lg">사전가입하기</a>
    </div>
    <!--<div style="position: absolute; left: 50%; top:70%">-->
        <!--<div id="my-progress-bar" style="position: relative; left: -50%;"  value="22" max="100"></div>-->

    <!--</div>-->
    <div style="width:30%; height: 100%; position: absolute; left: 50%; top:70%">
        <div style="position: relative; left: -50%;" class="progress">
            <div class="progress-bar" style="width:85%; background:#ffd11a;"></div>
            <div class="progress-content">
                <span class="progress-title">진행상황</span>
                <span class="progress-value">85%</span>
            </div>
        </div>
    </div>
    <div style="position: absolute; left: 50%; top:80%">
        <h3 class="text-center" style="position: relative; left: -50%; color: #eeeeee">
            사전 가입하시고 IEO 참여 혜택을 누리세요!!<br>정식 OPEN 첫날 상장 됩니다.
        </h3>
    </div>

</header>



<div id="main">


</div>

<header id="sec_page"></header>
<header id="third_page"></header>
<header id="last_page"></header>



</body>
</html>

