
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="main_page">
    <meta name="author" content="jungee">
    <link rel="shortcut icon" type="image/png" href="../images/logo/favicon.png"/>
    <title>COIN PLACE</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template-->
    <!--<link href="../stylesheets/hover-effect.css" rel="stylesheet">-->
    <link href="../stylesheets/progress.css" rel="stylesheet">
    <link href="../stylesheets/salelist.css" rel="stylesheet">
    <link href="../stylesheets/button.css" rel="stylesheet">
    <link href="../stylesheets/main_coin.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/footer.css" />
    <script href="../javascript/main-page.js" ></script>
</head>
<body ng-app="scotchApp">

<div class="wrapper">

        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                <a  href="/"><img id="mainlogo" src="images/logo/contents_mainlogo.png"></a>
            </div>
            <div class="menu">
                <ul>
                    <li><img id="login_img" src="images/logo/contents_mainloginicon.png"><a href="/account/logout">로그아웃</a></li>
                </ul>
            </div>
        </nav>

</div>

    <!--<div style="position: absolute; left: 50%; top:40%">-->
<!--<header></header>-->
    <div id="main" class="container" style="background: #333333; width: 100%;">
        <div>
        <div class="row" style="margin-top: 20%" >
            <div class="col-md-1 col-xs-0 col-sm-0"></div>
            
            <div class="col-md-5 col-xs-12 col-sm-12">
                <div id="news-slider" class="owl-carousel" >
                    <div class="post-slide">
                        <div class="post-img"  >
                            <img src="/images/secpage/contents02_plucoin.jpg" alt="">
                            <div class="category">PLU</div>
                        </div>
                        <div class="post-review" class="post-review" >
                            <h3 class="post-title"><a href="#">PLU 코인 3차판매</a></h3>
                            <p class="post-description">
                                IEO 가격 = 100 원
                                <br>
                                판매수량 - 15,000,000 개
                            </p>
                            <div class="post-bar">
                                <div style=" ">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:17.65%; background:#20bf6b;"></div>
                                        <div class="progress-content">
                                            <span class="progress-title">진행률</span>
                                            <span class="progress-value">17.65%</span>
                                        </div>
                                    </div>
                                    <a class="btn btn-lg orange center-block"  data-toggle="modal" href="/salelist/detail?coin=PLU"  data-toggle="modal" >구매하기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12 col-sm-12">
                <div id="news-slider" class="owl-carousel">
                    <div class="post-slide">
                        <div class="post-img" style="height: 100%">
                            <img src="/images/secpage/contents02_toxicoin.jpg" alt="">
                            <div class="category">TOXI</div>
                        </div>
                        <div class="post-review" >
                            <h3 class="post-title"><a href="#">TOXI 코인 2차판매</a></h3>
                            <p style="font-size: 15px;z-index: 1;font-weight: 300" class="post-description">
                                IEO 가격 = 100 원
                                <br>
                                판매수량 - 20,000,000 개
                            </p>
                            <div class="post-bar" style="width: 100%">
                                <div style="width: 100% ">
                                    <div style="position: relative;" class="progress">
                                        <div class="progress-bar" style="width:22.54%; background:#20bf6b;"></div>
                                        <div class="progress-content">
                                            <span class="progress-title">진행률</span>
                                            <span class="progress-value">22.54%</span>
                                        </div>
                                    </div>
                                    <a style="position: relative; "  class="btn btn-lg orange center-block"  data-toggle="modal" href="/salelist/detail?coin=TOXI" data-toggle="modal" >구매하기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-xs-0 col-sm-0"></div>
            </div>
        </div>

        <div class="row" style="margin-top: 5%">
            <div class="col-md-1 col-xs-0 col-sm-0"></div>
            <div class="col-md-5 col-xs-12 col-sm-12">
                <div id="news-slider" class="owl-carousel">
                    <div class="post-slide">
                        <div class="post-img">
                            <img src="/images/secpage/contents02_plu.jpg" alt="">
                            <div class="category">PLU</div>
                        </div>
                        <div class="post-review" >
                            <h3 class="post-title"><a href="#">PLU 코인 2차판매</a></h3>
                            <p class="post-description">
                                IEO 가격 = 100 원
                                <br>
                                판매수량 - 10,000,000 개
                            </p>
                            <div class="post-bar">
                                <div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width:100%; background:#232324;"></div>
                                        <div class="progress-content">
                                            <span class="progress-title">진행률</span>
                                            <span class="progress-value">100%</span>
                                        </div>
                                    </div>
                                    <a class="btn btn-lg gray center-block"  data-toggle="modal" data-target="#" data-toggle="modal" >마감</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12 col-sm-12">
                <div id="news-slider" class="owl-carousel">
                    <div class="post-slide">
                        <div class="post-img">
                            <img src="/images/secpage/contents02_plu.jpg" alt="">
                            <div class="category">PLU</div>
                        </div>
                        <div class="post-review" >
                            <h3 class="post-title"><a href="#">PLU 코인 2차판매</a></h3>
                            <p class="post-description">
                                IEO 가격 = 100 원
                                <br>
                                판매수량 - 10,000,000 개
                            </p>
                            <div class="post-bar">
                                <div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width:100%; background:#232324;"></div>
                                        <div class="progress-content">
                                            <span class="progress-title">진행률</span>
                                            <span class="progress-value">100%</span>
                                        </div>
                                    </div>
                                    <a class="btn btn-lg gray center-block"  data-toggle="modal" data-target="#" data-toggle="modal" >마감</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-xs-0 col-sm-0"></div>
        </div>
        </div>
    </div>
    <!--</div>-->


<section id="footer">
    <div class="container"  style="width: 100%">

        <div class="row" style="width: 100%; margin-right: 0px; margin-left: 0px" >
            <div class="col-xs-0 col-sm-0 col-md-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <p style="color: #ffffff">이용 약관 &nbsp; |&nbsp;  개인정보 취급 방침 &nbsp; |&nbsp;  이용문의(이메일) </p>
                <p style="color: #ffffff">주식회사 (주)플레이스  &nbsp; &nbsp; 사업자등록번호: 423-87-01363  &nbsp; &nbsp; 대표: 전민성 &nbsp; &nbsp; 주소: 경기도 성남시 분당구 성남대로 916 글라스타워 5층 <br> 상장 및 제휴문의: support@Coinplace.com</p>
                <p style="color: #ffffff">Copyright © 2019 Coinplace. ALL RIGHT RESERVED</p>
                <br>
            </div>

            <div class="col-xs-0 col-sm-0 col-md-2">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="row" style="width: 100%">
                    <div class="col-xs-3 col-sm-3 col-md-3"></div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="https://open.kakao.com/o/gASXn5bb" target="_blank"><img  class="center-block" style="width: 45%;" src="/images/basic/contents_copy_kakao.jpg"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <img class="center-block" onclick="alter_ready()" style="width: 45%;"src="/images/basic/contents_copy_tele.jpg">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2"></div>
                </div>
                <div class="row" style="width: 100%">
                    <div class="col-xs-2 col-sm-2 col-md-2"></div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <br>
                        <p style="color:#eeeeee; text-align: center ">- 공식 채팅방 -</p>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-3"></div>

                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-1">
            </div>
        </div>
    </div>
</section>


</body>
</html>
<script>
    $(document).ready(function() {
        $("#news-slider").owlCarousel({
            items:3,
            itemsDesktop:[1199,3],
            itemsDesktopSmall:[1000,2],
            itemsMobile:[650,1],
            pagination:false,
            navigationText:false,
            autoPlay:true
        });
    });
</script>

