<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>COINPLACE - 로그인</title>
    </head>
    <body>
        <form method="POST" action="/account/signin">
            ID:<input type="text" name="username" value="goal0208"><br>
            Password:<input type="password" name="password" value="hello"><br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>
