<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>COINPLACE - 회원가입</title>
    </head>
    <body>
        <form method="POST" action="/account/signup">
            이메일:<input type="text" name="username" value="goal0208"><br>
            비밀번호:<input type="password" name="password" value="hello"><br>
            비밀번호 확인:<input type="password" name="password_check" value="hello"><br>
            이름:<input type="text" name="name" value="이주용"><br>
            전화번호:<input type="text" name="phoneNumber" value="010-1234-5678"><br>
            <input type="submit" value="회원가입">
        </form>
    </body>
</html>
