<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="main_page">
    <meta name="author" content="jungee">
    <link rel="shortcut icon" type="image/png" href="../images/logo/favicon.png"/>
    <title>COIN PLACE - 로그인</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="../stylesheets/signin.css" rel="stylesheet">
    <script href="../javascript/main-page.js" ></script>
</head>
<body>

<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                <a  href="/"><img style="width: 75%" src="../images/logo/contents_mainlogo.png"></a>
            </div>

        </nav>
    </header>
</div>

<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form  style="margin-top: 30%" form method="POST" action="/account/signin" class="form-horizontal horizontal">
                <!-- <div style="margin-top: 30%" class="form-horizontal horizontal"> -->
                    <span class="heading">로그인</span>
                    <div class="form-group">
                        <input required="" name="username"  type="email" class="form-control" id="exampleInputEmail1" placeholder="Email 입력">
                    </div>
                    <div class="form-group">
                        <input required="" id="passwordInput" name="password" type="password" class="form-control" placeholder="Password 입력">
                    </div>

                    <div class="form-group">
                        <button type="submit" id="LoginBtn" value="Login" class="btn btn-default">login</button>
                    </div>
                    <p style="color: #eeee">아직 계정이 없으신가요?  &nbsp;&nbsp;&nbsp;<a href="#" data-target="#signupmodal" data-toggle="modal" style="font-weight: 200">회원가입</a></p>
                    <p style="color: #eeee">로그인에 문제가 있으신가요? &nbsp;&nbsp;&nbsp; <a data-target="#changepass" data-toggle="modal" style="font-weight: 200">패스워드 재설정</a></p>
                <!-- </div> -->
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<!-- 회원가입 모달 -->
<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body"  style="padding-left: 5%; padding-right: 5%">
                <form class="form-horizontal" method="POST" action="/account/signup">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <i class="fa fa-envelope-o"></i>
                        <input required=""  name="username" type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <i class="fa fa-lock"></i>
                        <input required="" id="password" name="password" type="password" class="form-control" placeholder="Password">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password 확인</label>
                        <i class="fa fa-lock"></i>
                        <input id="confirm_password" required="" name="password_check" type="password" class="form-control" placeholder="Password 확인">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">이름</label>
                        <i class="fa fa-user"></i>
                        <input required="" name="name" type="text" class="form-control" placeholder="이름">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">핸드폰 번호</label>
                        <i class="fa fa-phone"></i>
                        <input class="form-control" placeholder="010-0000-0000 형식으로 작성해주세요." type="text" id="phone" name="phoneNumber"
                               pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                               required>
                        <!--<input required="" name="phoneNumber" type="number" >-->

                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="checkbox">
                                <label>
                                    <a href="/usageInfo" target="_blank"><input id="check_1" name="check_1" type="checkbox"> 이용약관 동의</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="checkbox">
                                <label>
                                    <a href="/personalInfo" target="_blank"><input  id="check_2" name="check_2" type="checkbox"> 개인정보취급방침 동의</a>
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <button  class="btn btn-default" onclick="validateChecked()"  style="width: 100%; margin-top: 2%">회원가입</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- 비번 변경 모달 -->
<div class="modal fade" id="changepass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" style="padding-left: 5%; padding-right: 5%">
                <form class="form-horizontal" method="POST" action="/account/changePassword">

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <i class="fa fa-lock"></i>
                        <input required="" id="password2" name="password" type="password" class="form-control" placeholder="Password">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password 확인</label>
                        <i class="fa fa-lock"></i>
                        <input id="confirm_password2" required="" name="password_check" type="password" class="form-control" placeholder="Password 확인">

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" style="width: 100%">변경</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>

<script>
    var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");
    var check_1 = document.getElementById("check_1"), check_2 = document.getElementById("check_2");
    //  ID Check Value
    var num3 = 0; 

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("비밀번호가 일치하지 않습니다.");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    function validateChecked(){
        var req = check_1.checked;
        var req2 = check_2.checked;
        var num = 0;
        var num2 = 0;
        
        if(req == true){
            num = 1;
        }

        if(req2 == true){
            num2 = 1;
        }

        if(num==1 && num2==1 && num3==1){
            document.form.submit();
        }else if(num !=1){
            alert("이용약관 동의에 동의하셔야 합니다.");
        }else if(num2 !=1) {
            alert("개인정보취급방침 동의에 동의하셔야 합니다.");
        } else if(num3 !=1) {
            alert("이미 가입된 ID입니다.");
        }
    }

    // ID Check 
    $(document).ready(function(){
        //  ID Check
        $('#exampleInputEmail2').keyup(function(){
            $.post("/account/checkID", {ID: $(exampleInputEmail2).val()}, function(data, status){
                if(data.result == null) {
                    console.log("가입가능!");
                    // console.log("Data: " + data.result + ", Status: " + status);
                    num3=1;
                } else {
                    console.log("가입불가!");
                    num3=0;
                }
            });
        });
        //  Check
        $('#LoginBtn').click(function(){
            console.log("뚜룹뚜룹뚜룹!")
            // $('#exampleInputEmail1').keyup(function(){
            $.post("/account/checkID", {ID: $(exampleInputEmail1).val()}, function(data, status){
                if(data.result == null) {
                    // console.log("아이디가 존재하지 않습니다.");
                    alert("ID 및 PASSWORD를 확인해 주세요!");
                } else {
                    // console.log("아이디 존재 - PASSWORD 확인");
                    console.log($(passwordInput).val());
                    $.post("/account/checkPASSWORD", {password: $(passwordInput).val(), user: $(exampleInputEmail1).val()}, function(data, status){
                        if(data.result == false) {
                            console.log("로그인 실패");
                            alert("ID 및 PASSWORD를 확인해 주세요!");
                        } else {
                            console.log("로그인 성공");
                        }
                    });
                }
            });
        });
            
        // });
    });
</script>
