html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

#about_back {
    width: 100%;
    height: 100vh;
    background: url(/images/background/bg01.jpg) no-repeat 50% 50%;
    background-size: cover;
}
#about_back2 {
    width: 100%;
    height: 100vh;
    background: url(/images/background/bg02.jpg) no-repeat;
    background-size: cover;
}

#about_back3 {
    width: 100%;
    height: 100vh;
    background: url(/images/background/back3.png) no-repeat 50% 50%;
    background-size: cover;
}

#about_back4 {
    width: 100%;
    height: 100vh;
    background: #1d2025;
    background-size: cover;
}

#about_back5 {
    width: 100%;
    height: 100vh;
    background: #171b24;
    background-size: cover;
}
.content {
    width: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 5px 10px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}

nav {
    z-index: 1;
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;;
}

.act{
    font:bold;
    color: #ee955b;
    font-size: 18px;
    font-weight: 350;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 350;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
#login_img{
    width: 35%;
    margin-right: 4%;
}

#mainlogo{
    width: 80%
}

#login_text{
    margin-left: -3%;
   font-size: 18px;
}

#basic_text{
    color: #eee;
    font-size: 22px;
    z-index: 1;
    font-weight: 300

}

#blue_text{
    color: #4285e9;
    font-size: 24px;
    z-index: 1;
    font-weight: 400;
}
#yellow_text{
    color: #c8b801;
    font-size: 24px;
    z-index: 1;
    font-weight: 400;
}
#small_text{
    color: #ffffff;
    font-size: 14px;
    z-index: 1;
    font-weight: 300
}

#sale_text{
    color: #eee;
    font-size: 20px;
    z-index: 1;
    font-weight: 300;
    width: 20%;
}

#toxi_text{
    color: #c8b801;
    font-size: 15px;
    z-index: 1;
    float: right;
}

#plu_text{
    color: #02a3f1;
    font-size: 15px;
    z-index: 1;
}

#big_event_img{
    height:50vh
}

#dark_text{
    color: #b9b9b9;
    font-size: 16px;
    z-index: 1;
    font-weight: 300
}

#coin_join{
    font-size: 20px;
    margin-top: 3%;
}

#coin_img{
    width: 50%
}


@media(max-width: 786px) {
    #table_row{
        margin-top: 20vh;
    }
    #krw{
        font-size: 10px;
    }
    #coin_img{
        margin-top: 30vh;
        width: 72%
    }

    #coin_join{
        font-size: 10px;
        margin-top: 9%;
    }
    #dark_text{
        color: #b9b9b9;
        font-size: 10px;
        z-index: 1;
        font-weight: 300
    }

    #big_event_img{
        height:30vh
    }


    #login_img{
        width: 25%;

    }

    #login_text{
        margin-left: -3%;
        font-size: 16px;
    }

    #mainlogo{
        width: 50%
    }

    .menu li{
        margin-left: -15%;
    }

    nav ul li {
          /*box-sizing: border-box;*/
          /*width: 100%;*/
        margin-left: -2%;
          padding: 5px 10px;
          text-align: right;
    }

    #basic_text{
        color: #eee;
        font-size: 14px;
        z-index: 1;
        font-weight: 300
    }
    #blue_text{
        color: #4285e9;
        font-size: 14px;
        z-index: 1;
        font-weight: 400;
    }
    #yellow_text{
        color: #c8b801;
        font-size: 14px;
        z-index: 1;
        font-weight: 400;
    }
    #small_text{
        color: #ffffff;
        font-size: 12px;
        z-index: 1;
        font-weight: 300
    }
    #bac_img{
        width: 70px;
    }

    #sale_text{
        color: #eee;
        font-size: 12px;
        z-index: 1;
        font-weight: 300;
        width: 40%;
    }

    #toxi_text{
        color: #c8b801;
        font-size: 11px;
        z-index: 1;
        float: right;
    }

    #plu_text{
        color: #02a3f1;
        font-size: 11px;
        z-index: 1;
    }


}

/*!* news *!*/
/*.post-slide{*/
    /*margin: 0 15px;*/
    /*border-bottom: 1px solid #dadada;*/
    /*box-shadow: 0 0 5px rgba(167, 197, 167, 0.8);*/
    /*transition: all 0.4s ease-in-out 0s;*/
/*}*/
/*.post-slide .post-img{*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/
/*.post-slide .post-img:before{*/
    /*content: "";*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background: rgba(0, 0, 0, 0);*/
    /*transition: all 0.4s linear 0s;*/
/*}*/
/*.post-slide:hover .post-img:before{*/
    /*background: rgba(0, 0, 0, 0.6);*/
/*}*/
/*.post-slide .post-img img{*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/
/*.post-slide .category {*/
    /*width: 20%;*/
    /*font-size: 16px;*/
    /*color: #fff;*/
    /*line-height: 11px;*/
    /*text-align: center;*/
    /*text-transform: capitalize;*/
    /*padding: 11px 0;*/
    /*background: #ff9412;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: -50%;*/
    /*transition: all 0.5s ease-in-out 0s;*/
/*}*/
/*.post-slide:hover .category{*/
    /*left: 0;*/
/*}*/
/*.post-slide .post-review{*/
    /*padding: 25px 20px;*/
    /*background: #fff;*/
    /*position: relative;*/
/*}*/
/*.post-slide .post-title{*/
    /*margin: 0;*/
/*}*/
/*.post-slide .post-title a{*/
    /*display: inline-block;*/
    /*font-size: 16px;*/
    /*color: #ff9412;*/
    /*font-weight: bold;*/
    /*letter-spacing: 2px;*/
    /*text-transform: uppercase;*/
    /*margin-bottom: 25px;*/
    /*transition: all 0.30s linear 0s;*/
/*}*/
/*.post-slide .post-title a:hover{*/
    /*text-decoration: none;*/
    /*color: #555;*/
/*}*/
/*.post-slide .post-description{*/
    /*font-size: 15px;*/
    /*color: #555;*/
    /*line-height: 26px;*/
/*}*/
/*.post-review .post-bar{*/
    /*margin-top: 20px;*/
/*}*/
/*.post-bar span{*/
    /*display: inline-block;*/
    /*font-size: 14px;*/
/*}*/
/*.post-bar span i{*/
    /*margin-right: 5px;*/
    /*color: #999;*/
/*}*/
/*.post-bar span a{*/
    /*color: #999;*/
    /*text-transform: uppercase;*/
/*}*/
/*.post-bar span a:hover{*/
    /*text-decoration: none;*/
    /*color: #ff9412;*/
/*}*/
/*.post-bar span.comments{*/
    /*float: right;*/
/*}*/
/*@media only screen and (max-width: 359px) {*/
    /*.post-slide .category{ font-size: 13px; }*/
/*}*/


